#a {
  background-color: lightblue;
}

#b {
  background-color: lightgreen;
}

#c {
  background-color: yellow;
}

#d {
  background-color: tan;
}

#e {
  background-color: lightslategrey;
}

#f {
  background-color: lightcoral;
}

#g {
  background-color: lavender;
}

#h {
  background-color: khaki;
}

#i {
  background-color: aquamarine;
}